# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Flask
instance/
.webassets-cache

# Pytest
.pytest_cache/

# Project Specific (Data & Logs)
uploads/*
downloads/*
logs/*
!uploads/.gitkeep
!downloads/.gitkeep

# OS
.DS_Store
Thumbs.db
